body {
    @import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
    background-color: #F9EBEA;
    color: #2E4053;
    margin: 0;
}
a {
    color: #C0392B;
}

h1{
font-family: 'Fjalla One', sans-serif;
    /* margin-top: 50px; */

    margin-left: 20;
}
h2{
font-family: 'Fjalla One', sans-serif;
    /* margin-top: 50px; */

    margin-left: 20;
}
ol{
font-family: 'Fjalla One', sans-serif;
    /* margin-top: 50px; */

    margin-left: 20;
}